a { text-decoration:none; font-weight:bold; }
a:link { color: HotPink; }
a:visited { color: DeepPink; }
a:active { color: LightCyan; }
a:hover {color: Snow;}

body
{
background-color: LightSlateGray;
font-size: 13pt;
font-smooth: never;
-webkit-font-smoothing:none;
}

p {
	text-align: justify;
	font-size: 13pt;
}


li {
font-size: 13pt;
  margin: 8px 0px 8px 0px;

}

div.box {
font-size: 11pt;
  margin: 8px 8px 8px 8px;
  padding: 8px 8px 8px 8px;
  border-width: 1px;
  border-style: dotted;
  border-color: red;
}
